body {
    padding: 12px 10px 10px;
}
.x-body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:13px;
}
p {
    margin-bottom:15px;
}
h1 {
    font-size:18px;
    margin-bottom:20px;
}
h2 {
    font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}
.example-info{
    width:150px;
    border:1px solid #c3daf9;
    border-top:1px solid #DCEAFB;
    border-left:1px solid #DCEAFB;
    background:#ecf5fe;
    font-size:10px;
    padding:8px;
}
pre.code{
    background: #F8F8F8;
    border: 1px solid #e8e8e8;
    padding:10px;
    margin: 10px 10px 10px 0;
    border-left:5px solid #e8e8e8;
    font-size: 12px !important;
    line-height:14px !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    /*width:300px;*/
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #EDF7FF;
    border: 2px solid rgb(153,188,232);
    margin-top: 2px;
    padding: 10px 15px;
    color: rgb(4,64,140);
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}

.msg-error {
    color: #000 !important;
    background: #fdf8ff !important;
    border: 2px solid #CC3300 !important;
}

.feature-list {
    margin-bottom: 15px;
}
.feature-list li {
    list-style: disc;
    margin-left: 17px;
    margin-bottom: 4px;
}

.icon-add {
    background-image: url("../img/add.png") !important;
}
.icon-stop {
    background-image: url("../img/delete.png") !important;
}
.icon-delete {
    background-image: url("../img/cross.gif") !important;
}
.icon-edit {
    background-image: url("../img/edit.png") !important;
}
.icon-connect {
    background-image: url("../img/connect.png") !important;
}
.icon-save {
    background-image: url("../img/save.gif") !important;
}
.icon-cancel {
    background-image: url("../img/back.png") !important;
}
.icon-visible {
    background-image: url("../img/visible.gif") !important;
}
.icon-hidden {
    background-image: url("../img/hidden.gif") !important;
}
.icon-commit, .icon-saved {
    background-image: url("../img/saved.png") !important;
}
.icon-reload {
    background-image: url("../img/reload.png") !important;
}
.icon-install {
    background-image: url("../img/install.png") !important;
}

.icon-reinstall {
    background-image: url("../img/reinstall.png") !important;
}

.icon-configuration {
    background-image: url("../img/configuration.png") !important;
}

.icon-languages {
    background-image: url("../img/languages.png") !important;
}

.icon-recover {
    background-image: url("../img/recover.png") !important;
}
.icon-clone {
    background-image: url("../img/clone.png") !important;
}
.icon-upgrade {
    background-image: url("../img/upgrade.png") !important;
}
.icon-server {
    background-image: url("../img/server.png") !important;
}
.icon-disc {
    background-image: url("../img/disc.png") !important;
}
.icon-renew {
    background-image: url("../img/renew.png") !important;
}
.icon-view {
    background-image: url("../img/view.png") !important;
}
.icon-linkbreak {
    background-image: url("../img/linkbreak.png") !important;
}
.icon-link {
    background-image: url("../img/link.png") !important;
}
.icon-star {
    background-image: url("../img/star.png") !important;
}
.icon-star-inactive {
    background-image: url("../img/star-inactive.png") !important;
}
.icon-page {
    background-image: url("../img/section.png");
}

.x-action-col-icon{
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.x-grid-row .tree-row  div{
    display: block;
    opacity: 0.2;
}
.x-grid-row-over .tree-row div {
    display: block;
    opacity: 0.6;
}
.x-grid-row .tree-row-hidden {
    color: gray;
}

.x-grid-row .tree-row-inherit {
    color: gray;
}

.x-grid-row .tree-row-bold {
    font-weight: bold;
}

.x-grid-row .tree-row-hidden .x-tree-icon,
.x-grid-row .tree-row-section .x-tree-icon {
    background-image: url("../img/section.png");
}
.x-grid-row .tree-row-link .x-tree-icon {
    background-image: url("../img/arrow_link.png") !important;
}
.x-menu-item-link .calendar {
    background-image: url("../img/calendar.gif") !important;
}

.x-grid-row .tree-row-container .x-tree-icon {
    background-image: url("../img/book2.png");
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-item-disabled {
    opacity: 0.6 !important;
}

.admin-preloader {
    margin-top: -120px;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    left: 0;
}

.form-field-subtext .x-form-display-field {
    font-size: 90%;
    color: gray;
}

.cursor_hand {
    cursor: pointer;
}

/* секция для возврата назад параметров, перекрытых ext css файлами */
.builder-show-field em {
    font-style: italic !important;
}
.builder-show-field strong {
    font-weight: bold !important;
}
.builder-show-field ul li {
    list-style: disc !important;
}
.builder-show-field ol li {
    list-style: decimal !important;
}
.builder-show-field ul, .builder-show-field ol {
    margin: 12px 0 12px 0 !important;
    padding: 0 0 0 40px !important;
}

.x-border-box .cke * {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.x-boundlist-item{
    min-height: 20px;
}

.x-grid-cb-disable {
    height: 14px;
    background-image: url('../img/unchecked.gif');
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.3;

}

.x-grid-cb-disable-checked {
    height: 14px;
    background-image: url('../img/checked.gif');
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.3;
}
