@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/robotoregular.eot');
    src: url('/fonts/roboto/robotoregular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/robotoregular.woff') format('woff'),
         url('/fonts/roboto/robotoregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/roboto/robotomedium.eot');
    src: url('/fonts/roboto/robotomedium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/robotomedium.woff') format('woff'),
         url('/fonts/roboto/robotomedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/roboto/robotolight.eot');
    src: url('/fonts/roboto/robotolight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/robotolight.woff') format('woff'),
         url('/fonts/roboto/robotolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/roboto/robotobold.eot');
    src: url('/fonts/roboto/robotobold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/robotobold.woff') format('woff'),
         url('/fonts/roboto/robotobold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}