/* layer: default */
/* group: adaptive                                  | Адаптивный мод */
        /* param: break_desktop                     | Брейкпоинт Десктоп | size | 980px  */
        /* param: break_tablet                      | Брейкпоинт Таблетка | size | 768px  */

    /* group: adaptive.sidebar                      | Сайдбар */

        /* group: adaptive.sidebar.params           | Параметры */
            /* param: background_color              | Фон | color | #fff  */
            /* param: background_color_layout       | Фон подложка | color | rgba(0, 0, 0, .3)  */
            /* param: max_width                     | Максимальная ширина | size | 350px  */
            /* param: font_color                    | Цвет шрифта | color | #fff  */
            /* param: link_color                    | Цвет ссылок | color | #fff  */
            /* parentParam: default..base.userbase.fontfamily.color_link */
            /* param: padding                       | Внутренний отступ | size | 20px */

        /* group: adaptive.sidebar.icon_close       | Кнопка закрытия */
            /* param: pic                           | Картинка кнопки | url | ../images/sidebar.close.png  */
            /* param: background_color_block        | Фон плашки | color | #fff  */
            /* param: width                         | Ширина кнопки | size | 50px  */
            /* param: height                        | Высота кнопки | size | 50px  */
            /* param: hor_pos                       | Положение по горизонтали | h-position | left  */

        /* group: adaptive.sidebar.icon_sandwich    | Кнопка Сэндвич */
            /* param: pic                           | Картинка кнопки | url | ../images/icon-sandwich.png  */
            /* param: width                         | Ширина кнопки | size | 60px  */
            /* param: height                        | Высота кнопки | size | 50px  */

    /* group: adaptive.side_menu                    | Меню */
        /* param: separ_color                       | Цвет нижнего разделителя | color | #fff  */
        /* param: mar_open                          | Маркер развернуть | url | ../images/sidebar-mar.png  */
        /* param: mar_close                         | Маркер свернуть | url | ../images/sidebar-mar-on.png  */
        /* param: mar_width                         | Маркер ширина | size | 60px  */
        /* param: mar_height                        | Маркер высота | size | 55px  */

/*--------------------*/
.b-sandwich {
    position: relative;
    background-color: [menu.top.level1.level1_bg.color];
    z-index: 1;
}
.b-sandwich .sandwich__icon {
    width: [adaptive.sidebar.icon_sandwich.width];
    height: [adaptive.sidebar.icon_sandwich.height];
    background: url([adaptive.sidebar.icon_sandwich.pic]) 50% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
}
/*---------------------------------*/
.l-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: [adaptive.sidebar.params.background_color_layout];
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.l-sidebar--open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.l-sidebar-block {
    position: absolute;
    z-index: 1000;
    background-color: [adaptive.sidebar.params.background_color];
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: [adaptive.sidebar.params.max_width];

    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .3);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-sidebar-block--left {
    top: 0;
    left: -150%;
    bottom: 0;
    -webkit-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out;
}
.l-sidebar-block--right {
    top: 0;
    right: -150%;
    bottom: 0;
    -webkit-transition: right 0.5s ease-out;
    transition: right 0.5s ease-out;
}
.l-sidebar-block--top {
    left: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    top: -150%;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}
.l-sidebar-block--bottom {
    left: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    bottom: -150%;
    -webkit-transition: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;
}
.l-sidebar-block--open {
    z-index: 1000;
}
.l-sidebar-block--open.l-sidebar-block--left {
    left: 0;
    -webkit-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out;
}
.l-sidebar-block--open.l-sidebar-block--right {
    right: 0;
    -webkit-transition: right 0.5s ease-out;
    transition: right 0.5s ease-out;
}
.l-sidebar-block--open.l-sidebar-block--top {
    top: 0;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}
.l-sidebar-block--open.l-sidebar-block--bottom {
    bottom: 0;
    -webkit-transition: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;
}
/*---------------------------------*/
.b-sidebar {
    position: relative;
    color: [adaptive.sidebar.params.font_color];
}
.b-sidebar a:link,
.b-sidebar a:visited,
.b-sidebar a:hover,
.b-sidebar a:active {
    color: [adaptive.sidebar.params.link_color];
}
.b-sidebar .sidebar__close {
    background-color: [adaptive.sidebar.icon_close.background_color_block];
    text-align: [adaptive.sidebar.icon_close.hor_pos];
}
.b-sidebar .sidebar__close-btn {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    background: url([adaptive.sidebar.icon_close.pic]) 50% 50% no-repeat;
    width: [adaptive.sidebar.icon_close.width];
    height: [adaptive.sidebar.icon_close.height];
    z-index: 100;
    cursor: pointer;
}
.b-sidebar .sidebar__content {
    padding: [adaptive.sidebar.params.padding];
}
.b-sidebar .sidebar__item {
    padding-bottom: 20px;
}
.b-sidebar .sidebar__contacts > *,
.b-sidebar .sidebar__contacts a:link,
.b-sidebar .sidebar__contacts a:visited {
    border-bottom-color: #fff;
    color: #fff;
}
/*---------------------------------*/
.b-sidebar .b-auth-wrap {
    position: static;
}
/*---------------------------------*/
.b-sidebar .b-auth-head {
    right: 0;
}
/*---------------------------------*/
.b-sidebar .b-basketmain-head {
    position: static;
    width: 100%;
}
/*---------------------------------*/
.b-sidebar-menu {
    margin: 0 -20px;
    border-bottom: 1px solid [adaptive.side_menu.separ_color];
}
.b-sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.b-sidebar-menu li {
    display: block;
}
.b-sidebar-menu a:link,
.b-sidebar-menu a:visited,
.b-sidebar-menu a:hover,
.b-sidebar-menu a:active {
    display: block;
}
.b-sidebar-menu .sidebar-menu__level-1 {}
.b-sidebar-menu .sidebar-menu__item-1 {}
.b-sidebar-menu .sidebar-menu__item-1 > span {
    display: block;
    position: relative;
    background: [menu.top.level1.normal.background.color] url("[menu.top.level1.normal.background.img]") [menu.top.level1.normal.background.repeat] scroll [menu.top.level1.normal.background.hposition] [menu.top.level1.normal.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-1 > span a:link,
.b-sidebar-menu .sidebar-menu__item-1 > span a:visited {
    padding: [menu.top.level1.normal.background.padding];
    font-family: [menu.top.level1.normal.link.font_family];
    font-size: [menu.top.level1.normal.link.size];
    font-weight: [menu.top.level1.normal.link.weight];
    font-style: [menu.top.level1.normal.link.style];
    text-decoration: [menu.top.level1.normal.link.decoration];
    text-transform: [menu.top.level1.normal.link.transform];
    color: [menu.top.level1.normal.link.color];
    display: block;
    position: relative;
}
.b-sidebar-menu .sidebar-menu__item-1--on > span {
    background: [menu.top.level1.active.background.color] url("[menu.top.level1.active.background.img]") [menu.top.level1.active.background.repeat] scroll [menu.top.level1.active.background.hposition] [menu.top.level1.active.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-1 > span a:active,
.b-sidebar-menu .sidebar-menu__item-1 > span a:hover,
.b-sidebar-menu .sidebar-menu__item-1--on > span a:link,
.b-sidebar-menu .sidebar-menu__item-1--on > span a:visited,
.b-sidebar-menu .sidebar-menu__item-1--on > span a:hover,
.b-sidebar-menu .sidebar-menu__item-1--on > span a:active {
    padding: [menu.top.level1.active.background.padding];
    font-family: [menu.top.level1.active.link.font_family];
    font-size: [menu.top.level1.active.link.size];
    font-weight: [menu.top.level1.active.link.weight];
    font-style: [menu.top.level1.active.link.style];
    text-decoration: [menu.top.level1.active.link.decoration];
    text-transform: [menu.top.level1.active.link.transform];
    color: [menu.top.level1.active.link.color];
    display: block;
}
.b-sidebar-menu .sidebar-menu__item-1--haschild > span {
    padding-right: [adaptive.side_menu.mar_width];
}
.b-sidebar-menu .sidebar-menu__item-1--hasicon > span em {
    height: [menu.top.level2.normal.bullit.height];
    width: [menu.top.level2.normal.bullit.width];
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    [menu.top.level2.normal.bullit.hposition]: [menu.top.level2.normal.bullit.hvalue];
    [menu.top.level2.normal.bullit.vposition]: [menu.top.level2.normal.bullit.vvalue];
    font-size: 0;
}
.b-sidebar-menu .sidebar-menu__item-1--hasicon > span a:link,
.b-sidebar-menu .sidebar-menu__item-1--hasicon > span a:visited,
.b-sidebar-menu .sidebar-menu__item-1--hasicon:hover > span a:link,
.b-sidebar-menu .sidebar-menu__item-1--hasicon:hover > span a:visited {
    padding-right: [menu.top.level1.normal.bullit.width] + 5;
}
.b-sidebar-menu .sidebar-menu__item-1--haschild > span .sidebar-menu__dropicon {
    background: url("[adaptive.side_menu.mar_open]") no-repeat scroll 50% 50%;
    height: 100%;
    width: [adaptive.side_menu.mar_width];
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.b-sidebar-menu .sidebar-menu__item-1--haschild.sidebar-menu__item--open > span {
    background: [menu.top.level1.active.background.color] url("[menu.top.level1.active.background.img]") [menu.top.level1.active.background.repeat] scroll [menu.top.level1.active.background.hposition] [menu.top.level1.active.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-1--haschild.sidebar-menu__item--open > span .sidebar-menu__dropicon {
    background: url("[adaptive.side_menu.mar_close]") no-repeat scroll 50% 50%;
}
.b-sidebar-menu .sidebar-menu__level-2 {
    background-color: [menu.top.level2.normal.background.color];
    display: none;
}
.b-sidebar-menu .sidebar-menu__item-2 {
}
.b-sidebar-menu .sidebar-menu__item-2 > span {
    padding-left: 20px;
    display: block;
    position: relative;
    background: [menu.top.level2.normal.background.color] url("[menu.top.level2.normal.background.img]") [menu.top.level2.normal.background.repeat] scroll [menu.top.level2.normal.background.hposition] [menu.top.level2.normal.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-2 > span em {}
.b-sidebar-menu .sidebar-menu__item-2 > span a:link,
.b-sidebar-menu .sidebar-menu__item-2 > span a:visited {
    padding: [menu.top.level2.normal.background.padding];
    font-family: [menu.top.level2.normal.link.font_family];
    font-size: [menu.top.level2.normal.link.size];
    font-weight: [menu.top.level2.normal.link.weight];
    font-style: [menu.top.level2.normal.link.style];
    text-decoration: [menu.top.level2.normal.link.decoration];
    text-transform: [menu.top.level2.normal.link.transform];
    color: [menu.top.level2.normal.link.color];
}
.b-sidebar-menu .sidebar-menu__item-2--on > span {
    background: [menu.top.level2.active.background.color] url("[menu.top.level2.active.background.img]") [menu.top.level2.active.background.repeat] scroll [menu.top.level2.active.background.hposition] [menu.top.level2.active.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-2 > span a:active,
.b-sidebar-menu .sidebar-menu__item-2 > span a:hover,
.b-sidebar-menu .sidebar-menu__item-2--on > span a:link,
.b-sidebar-menu .sidebar-menu__item-2--on > span a:visited,
.b-sidebar-menu .sidebar-menu__item-2--on > span a:hover,
.b-sidebar-menu .sidebar-menu__item-2--on > span a:active {
    padding: [menu.top.level2.active.background.padding];
    font-family: [menu.top.level2.active.link.font_family];
    font-size: [menu.top.level2.active.link.size];
    font-weight: [menu.top.level2.active.link.weight];
    font-style: [menu.top.level2.active.link.style];
    text-decoration: [menu.top.level2.active.link.decoration];
    text-transform: [menu.top.level2.active.link.transform];
    color: [menu.top.level2.active.link.color];
}
.b-sidebar-menu .sidebar-menu__item-2--haschild > span {
    padding-right: [adaptive.side_menu.mar_width];
}
.b-sidebar-menu .sidebar-menu__item-2--haschild > span .sidebar-menu__dropicon {
    background: url("[adaptive.side_menu.mar_open]") no-repeat scroll 50% 50%;
    height: 100%;
    width: [adaptive.side_menu.mar_width];
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.b-sidebar-menu .sidebar-menu__item-2--haschild.sidebar-menu__item--open > span {
    background: [menu.top.level2.active.background.color] url("[menu.top.level2.active.background.img]") [menu.top.level2.active.background.repeat] scroll [menu.top.level2.active.background.hposition] [menu.top.level2.active.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-2--haschild.sidebar-menu__item--open > span .sidebar-menu__dropicon {
    background: url("[adaptive.side_menu.mar_close]") no-repeat scroll 50% 50%;
}
.b-sidebar-menu .sidebar-menu__level-3 {
    background-color: [menu.top.level3.normal.background.color];
    display: none;
}
.b-sidebar-menu .sidebar-menu__item-3 {
}
.b-sidebar-menu .sidebar-menu__item-3 > span {
    padding-left: 40px;
    display: block;
    position: relative;
    background: [menu.top.level3.normal.background.color] url("[menu.top.level3.normal.background.img]") [menu.top.level3.normal.background.repeat] scroll [menu.top.level3.normal.background.hposition] [menu.top.level3.normal.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-3 > span a:link,
.b-sidebar-menu .sidebar-menu__item-3 > span a:visited {
    padding: [menu.top.level3.normal.background.padding];
    font-family: [menu.top.level3.normal.link.font_family];
    font-size: [menu.top.level3.normal.link.size];
    font-weight: [menu.top.level3.normal.link.weight];
    font-style: [menu.top.level3.normal.link.style];
    text-decoration: [menu.top.level3.normal.link.decoration];
    text-transform: [menu.top.level3.normal.link.transform];
    color: [menu.top.level3.normal.link.color];
}
.b-sidebar-menu .sidebar-menu__item-3--on > span {
    background: [menu.top.level3.active.background.color] url("[menu.top.level3.active.background.img]") [menu.top.level3.active.background.repeat] scroll [menu.top.level3.active.background.hposition] [menu.top.level3.active.background.vposition];
}
.b-sidebar-menu .sidebar-menu__item-3 > span a:active,
.b-sidebar-menu .sidebar-menu__item-3 > span a:hover,
.b-sidebar-menu .sidebar-menu__item-3--on > span a:link,
.b-sidebar-menu .sidebar-menu__item-3--on > span a:visited,
.b-sidebar-menu .sidebar-menu__item-3--on > span a:hover,
.b-sidebar-menu .sidebar-menu__item-3--on > span a:active {
    padding: [menu.top.level3.active.background.padding];
    font-family: [menu.top.level3.active.link.font_family];
    font-size: [menu.top.level3.active.link.size];
    font-weight: [menu.top.level3.active.link.weight];
    font-style: [menu.top.level3.active.link.style];
    text-decoration: [menu.top.level3.active.link.decoration];
    text-transform: [menu.top.level3.active.link.transform];
    color: [menu.top.level3.active.link.color];
}
/*---------------------------------*/
@media handheld, only screen and (min-width: [adaptive.break_desktop]) { /*-DESKTOP-*/
    /*--------------------------*/
    .hide-on-desktop {
        display: none !important;
    }
    /*--------------------------*/
}
/*---------------------------------*/
@media handheld, only screen and (min-width: [adaptive.break_desktop]) and (max-width: 1400px) { /*-SMALL DESKTOP-*/
    /*--------------------------*/
    /*--------------------------*/
}
/*---------------------------------*/
