/* layer: default */
/* group: modules.slider    | Слайдер */
/* param: bg_color          | Фоновый цвет блока | color | #fff */
/* param: back_img          | Левая стрелочка | url | ../images/slider.back.png */
/* param: next_img          | Правая стрелочка | url | ../images/slider.next.png */
/* param: width_arrow       | Ширина стрелочки | size | 50px */
/* param: height_arrow      | Высота стрелочки | size | 70px */
/* param: navmargin         | Отступы стрелочек | size | 0px */
/* param: bul_bgimg         | Неактивный булит | url | ../images/slider.dot.png */
/* param: bulon_bgimg       | Активный булит | url | ../images/slider.doton.png */
/* param: width_bul         | Ширина булитов | size | 15px */
/* param: height_bul        | Высота булитов | size | 15px */
/* param: bottom            | Отступ снизу булитов | size | 20px */
/* param: bulletleft        | Отступ слева булитов | size | 0px */
/* param: bulletright       | Отступ справа булитов | size | 0px */
/* param: bulletalign       | Выравнивание булитов | text-align | center */
.fotorama-picture .fotorama__nav--dots {
    position: absolute;
    bottom: [modules.slider.bottom];
    left: [modules.slider.bulletleft];
    right: [modules.slider.bulletright];
    width: auto !important;
    text-align: [modules.slider.bulletalign];
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fotorama-picture .fotorama__nav--dots .fotorama__nav__frame {
    width: auto;
    height: auto;
}
.fotorama-picture .fotorama__dot {
    margin: 0 5px;
    border: 0;
    border-radius: 0;
    position: static;
    display: inline-block;
    width: [modules.slider.width_bul];
    height: [modules.slider.height_bul];
    background: url([modules.slider.bul_bgimg]) 50% 50% no-repeat;
}
.fotorama-picture .fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: [modules.slider.width_bul];
    height: [modules.slider.height_bul];
    background: url([modules.slider.bulon_bgimg]) 50% 50% no-repeat;
}
.fotorama-picture .fotorama__nav--thumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.fotorama-picture .fotorama__arr--prev,
.fotorama-picture .fotorama__arr--next {
    margin-top: -[modules.slider.height_arrow] / 2 ;
    top: 50%;
    width:[modules.slider.width_arrow];
    height: [modules.slider.height_arrow];
}
.fotorama-picture .fotorama__arr--prev {
    left: [modules.slider.navmargin];
    background: url([modules.slider.back_img]) 0 0 no-repeat;
}
.fotorama-picture .fotorama__arr--next {
    right: [modules.slider.navmargin];
    background: url([modules.slider.next_img]) 0 0 no-repeat;
}
.fotorama-picture .fotorama__arr--prev:hover,
.fotorama-picture .fotorama__arr--next:hover {
    background-position: 0 100%;
}
.fotorama-picture .fotorama__arr--disabled {
    opacity: 1;
    background-position: 0 0;
}