.x-grid-checkheader{height:14px;background-image:url('images/unchecked.gif');background-position:50% -2px;background-repeat:no-repeat;background-color:transparent}.x-grid-checkheader-checked{background-image:url('images/checked.gif')}.x-grid-checkheader-editor .x-form-cb-wrap{text-align:center}