/* layer: default */
.b-cart {
    margin-bottom: 20px;
}
.b-cart table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}
.b-cart th {
    background-color: [modules.cabinet.color_title];
    font-weight: normal;
    padding: 9px 10px 11px 14px;
    border: 1px solid #fff;
    border-top: 1px solid [modules.cabinet.color_title];
    white-space: nowrap;
}
.b-cart th:first-child {
    border-left: 1px solid [modules.cabinet.color_title];
}
.b-cart th:last-child {
    border-right: 1px solid [modules.cabinet.color_title];
}
.b-cart td {
    padding: 9px 10px 11px 14px;
    border: 1px solid [modules.cabinet.color_title];
}
.b-cart .cart__amount {
    width: 50px;
    text-align: center;
}
.b-cart .cart__center {
    text-align: center;
}
.b-cart .cart__right {
    text-align: right;
}
.b-cart .cart__total {
    text-align: right;
}
.b-cart .cart__line td {
    border-top: 1px solid #c9c9c9;
    height: 10px;
}
.b-cart .cart__empty-hidden {
    display: none;
}
.b-cart .cart__totalrow td {
    background: [modules.cabinet.color_last];
}
.b-cart .cart__buttons:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
.b-cart .cart__buttons a:link,
.b-cart .cart__buttons a:active,
.b-cart .cart__buttons a:visited,
.b-cart .cart__buttons a:hover {
    text-decoration: [editor.a.decoration];
}
.b-cart .cart__buttons a:hover {
    text-decoration: [editor.a.decoration_on];
}
.b-cart .cart__back {
    float: left;
}
.b-cart .cart__reset,
.b-cart .cart__confirm {
    margin-left: 30px;
    float: right;
}
.b-cart .cart__valubox {
    width: 100px;
}
.b-cart .cart__btn {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #c8c8c8;
    margin-right: 5px;
}
.b-cart .cart__objectimg {
    margin: 0 auto;
    overflow: hidden;
}
.b-cart .b-input-count{
    float: left;
    width: 32px;
    margin: 0 5px;
    height: 20px;
}
.b-cart .cabbox__imagebox {
    position: relative;
    text-align: center;
    display: block;
    font-size: 0;
}
.b-cart .total {
    font-weight: bold;
}
.fastbuy_error{
    display: none;
    margin-left: [modules.forms.width_col];
    padding-left: 10px;
}

.js_good_is_not_available{
    font-size: 80%;
    color: red;
}
