/*-------------------------*/
.b-basket-notice {
    text-align: center;
    padding: 0 70px 0 70px;
}
.b-basket-notice .basket-title {
    padding-bottom: 10px;
    font-size: 15px;
    color: #35322b;
    white-space: nowrap;
}
.b-basket-notice .basket-btn {
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    display: inline-block;
}
.b-basket-notice .basket-link {
    padding-bottom: 5px;
}
.b-basket-notice .basket-link a:link,
.b-basket-notice .basket-link a:active,
.b-basket-notice .basket-link a:visited,
.b-basket-notice .basket-link a:hover {
    color: #453c37;
    text-decoration: underline;
}
.b-basket-notice .basket-link a:hover {
    text-decoration: none;
}
.b-basket-notice .basket-name {
    padding-bottom: 15px;
    font-size: 12px;
}
/*-------------------------*/