{% if AllowEcommerceSendData %}

    <script type="text/javascript">
        {% if bIsFastBuy %}
            ecommerce.sendDataPurchaseFastBuy( {{ ecommerce_objects }}, {{ order_id }} );
        {% else %}
            ecommerce.sendDataPurchase( {{ ecommerce_objects }}, {{ order_id }} );
        {% endif %}
    </script>

{% endif %}