/* layer: default */
/*------------------------*/
.b-news {
    margin-bottom: 2em;
    padding: 0;
    position: relative;
}
.b-news:after,
.b-news .news__item:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
.b-news .news__alltitle {
    color: [editor.h2.color];
    font-family: [editor.h2.family];
    font-size: [editor.h2.size];
    font-style: [editor.h2.style];
    font-weight: [editor.h2.bold];
    margin: 0 0 0.5em;
    text-decoration: none;
}  
.b-news .news__item {
    margin: 0 0 2em 0;
    padding: 0 0 0.2em;
    position: relative;
    background: [modules.news.color] url("[modules.news.img]") [modules.news.repeat] scroll [modules.news.hposition] [modules.news.vposition];
}
.b-news .news__date {
    font-family: [modules.news.date.font_family];
    font-size: [modules.news.date.size];
    font-weight: [modules.news.date.weight];
    font-style: [modules.news.date.style];
    text-decoration: [modules.news.date.decoration];
    text-transform: [modules.news.date.transform];
    color: [modules.news.date.color];
}

.b-news .news__title span,
.b-news .news__title a:link,
.b-news .news__title a:visited {
    font-family: [modules.news.normal.font_family];
    font-size: [modules.news.normal.size];
    font-weight: [modules.news.normal.weight];
    font-style: [modules.news.normal.style];
    text-decoration: [modules.news.normal.decoration];
    text-transform: [modules.news.normal.transform];
    color: [modules.news.normal.color];
    display: block;
}
.b-news .news__title a:hover, 
.b-news .news__title a:active {
    font-family: [modules.news.active.font_family];
    font-size: [modules.news.active.size];
    font-weight: [modules.news.active.weight];
    font-style: [modules.news.active.style];
    text-decoration: [modules.news.active.decoration];
    text-transform: [modules.news.active.transform];
    color: [modules.news.active.color];
}
.b-news .news_detail_back {
    margin: 1.5em 0;
}
.b-news .news__avtor {
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.b-news .news__title {
    margin: 0 0 0.5em 0;
    padding-left: [modules.news.bullit.width];
    background: transparent url("[modules.news.bullit.img]") 0 5px no-repeat;
    font-family: [modules.news.title.font_family];
    font-size: [modules.news.title.size];
    font-weight: [modules.news.title.weight];
    font-style: [modules.news.title.style];
    text-decoration: [modules.news.title.decoration];
    text-transform: [modules.news.title.transform];
    color: [modules.news.title.color];
}
.b-news .b-editor {
    margin-bottom: 0;
}
.b-news .news__imgbox {
    margin-bottom: 0.5em;
    text-align: center;
}
.b-news .news__imgbox img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.b-news .news__wrap {
    overflow: hidden;
}
/*------------------------*/
    /*------------------------*/
    .b-news--list {
        margin-bottom: 0;
        padding: 0;
    }
    .b-news--list .news__title {
        font-family: [modules.news.normal.font_family];
        font-size: [modules.news.normal.size];
        font-weight: [modules.news.normal.weight];
        font-style: [modules.news.normal.style];
        text-decoration: none;
        text-transform: [modules.news.normal.transform];
        color: [modules.news.normal.color];
        line-height: 1;
    }
    .b-news--list .news__imgbox {
        margin-right: 1em;
        float: left;
    }
    .b-news--list .news__date {
        padding-bottom: 0.75em;
    }
    /*------------------------*/
    .b-news--main {
        margin-right: -[modules.news.col.margin-r] ;
    }
    .b-news--main .news__item {
        margin-right: [modules.news.col.margin-r];
        padding-bottom: 0;
        width: [modules.news.col.width];
        height: [modules.news.col.height];
        float: left;
        background: none;
        overflow: hidden;
    }
    .b-news--main .news__item:after {
        display: none;
    }
    .b-news--main .news__imgbox img {
        width: 100%;
    }
    /*------------------------*/    
/*------------------------*/
