@font-face {
    font-family: 'Raleway Black';
    src: url('/fonts/raleway/ralewayblack.eot');
    src: url('/fonts/raleway/ralewayblack.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewayblack.woff') format('woff'),
         url('/fonts/raleway/ralewayblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('/fonts/raleway/ralewaybold.eot');
    src: url('/fonts/raleway/ralewaybold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewaybold.woff') format('woff'),
         url('/fonts/raleway/ralewaybold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Extra Bold';
    src: url('/fonts/raleway/ralewayextrabold.eot');
    src: url('/fonts/raleway/ralewayextrabold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewayextrabold.woff') format('woff'),
         url('/fonts/raleway/ralewayextrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Extra Light';
    src: url('/fonts/raleway/ralewayextralight.eot');
    src: url('/fonts/raleway/ralewayextralight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewayextralight.woff') format('woff'),
         url('/fonts/raleway/ralewayextralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('/fonts/raleway/ralewaylight.eot');
    src: url('/fonts/raleway/ralewaylight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewaylight.woff') format('woff'),
         url('/fonts/raleway/ralewaylight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('/fonts/raleway/ralewaymedium.eot');
    src: url('/fonts/raleway/ralewaymedium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewaymedium.woff') format('woff'),
         url('/fonts/raleway/ralewaymedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/ralewayregular.eot');
    src: url('/fonts/raleway/ralewayregular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewayregular.woff') format('woff'),
         url('/fonts/raleway/ralewayregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Semibold';
    src: url('/fonts/raleway/ralewaysemibold.eot');
    src: url('/fonts/raleway/ralewaysemibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewaysemibold.woff') format('woff'),
         url('/fonts/raleway/ralewaysemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('/fonts/raleway/ralewaythin.eot');
    src: url('/fonts/raleway/ralewaythin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway/ralewaythin.woff') format('woff'),
         url('/fonts/raleway/ralewaythin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}