.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev, 
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next {
    position: absolute;
    top: -40px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev {
    right: 40px;
    background: url(../images/catalog.back2.gif) 0 0 no-repeat;
}
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next {
    right: 0;
    background: url(../images/catalog.next2.gif) 0 0 no-repeat;
}
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev:hover, 
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev:active, 
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next:hover, 
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next:active {
    background-position: 0 100%;
}
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev.disabled, 
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next.disabled,
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev.disabled:hover,
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next.disabled:hover,
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-prev.disabled:active,
.owl-carousel.owl-carousel-relatedtheme .owl-nav .owl-next.disabled:active {
    background-position: 0 0;
}
.owl-carousel.owl-carousel-relatedtheme .owl-dots {
    text-align: center;
}
.owl-carousel.owl-carousel-relatedtheme .owl-dot {
    margin: 0 5px;
    border-radius: 1000px;
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #c2c2c2;
}
.owl-carousel.owl-carousel-relatedtheme .owl-dot.active {
    background-color: #3dade1;
}
.owl-carousel.owl-carousel-relatedtheme .owl-dot:before {
    content: '';
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
}