@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans/opensansregular.eot');
    src: url('/fonts/opensans/opensansregular.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansregular.woff') format('woff'),
    url('/fonts/opensans/opensansregular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/fonts/opensans/opensanslight.eot');
    src: url('/fonts/opensans/opensanslight.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensanslight.woff') format('woff'),
    url('/fonts/opensans/opensanslight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('/fonts/opensans/opensansitalic.eot');
    src: url('/fonts/opensans/opensansitalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansitalic.woff') format('woff'),
    url('/fonts/opensans/opensansitalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('/fonts/opensans/opensansbold.eot');
    src: url('/fonts/opensans/opensansbold.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansbold.woff') format('woff'),
    url('/fonts/opensans/opensansbold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('/fonts/opensans/opensansextrabold.eot');
    src: url('/fonts/opensans/opensansextrabold.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansextrabold.woff') format('woff'),
    url('/fonts/opensans/opensansextrabold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    src: url('/fonts/opensans/opensansextrabolditalic.eot');
    src: url('/fonts/opensans/opensansextrabolditalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansextrabolditalic.woff') format('woff'),
    url('/fonts/opensans/opensansextrabolditalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('/fonts/opensans/opensansbolditalic.eot');
    src: url('/fonts/opensans/opensansbolditalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansbolditalic.woff') format('woff'),
    url('/fonts/opensans/opensansbolditalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Regular Italic';
    src: url('/fonts/opensans/opensansregularitalic.eot');
    src: url('/fonts/opensans/opensansregularitalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensansregularitalic.woff') format('woff'),
    url('/fonts/opensans/opensansregularitalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('/fonts/opensans/opensanssemibold.eot');
    src: url('/fonts/opensans/opensanssemibold.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensanssemibold.woff') format('woff'),
    url('/fonts/opensans/opensanssemibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Semi Bold Italic';
    src: url('/fonts/opensans/opensanssemiboldItalic.eot');
    src: url('/fonts/opensans/opensanssemiboldItalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensans/opensanssemiboldItalic.woff') format('woff'),
    url('/fonts/opensans/opensanssemiboldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}