@font-face {
    font-family: 'Lora';
    src: url('/fonts/lora/loraregular.eot');
    src: url('/fonts/lora/loraregular.eot?#iefix')format('embedded-opentype'),
    url('/fonts/lora/loraregular.woff') format('woff'),
    url('/fonts/lora/loraregular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lora Bold';
    src: url('/fonts/lora/lorabold.eot');
    src: url('/fonts/lora/lorabold.eot?#iefix')format('embedded-opentype'),
    url('/fonts/lora/lorabold.woff') format('woff'),
    url('/fonts/lora/lorabold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lora Italic';
    src: url('/fonts/lora/loraitalic.eot');
    src: url('/fonts/lora/loraitalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/lora/loraitalic.woff') format('woff'),
    url('/fonts/lora/loraitalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lora Bold Italic';
    src: url('/fonts/lora/lorabolditalic.eot');
    src: url('/fonts/lora/lorabolditalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/lora/lorabolditalic.woff') format('woff'),
    url('/fonts/lora/lorabolditalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}