/*-------------------------------*/
/* layer: default */

/* group: modules.forms | Формы */
/* param: color_border                        | Цвет бордера формы | color | #dddddd */
/* param: color_background                    | Цвет фона формы | color | transparent */
/* param: width_col                           | Ширина колонки с подписями | size | 140px  */
/* param: color_input                         | Цвет рамки поля ввода | color | #dddddd  */
/* param: color_mark                          | Цвет "звёздочки"   | color | #ff0000  */
/* param: color_delim                         | Цвет разделителя   | color | #e6e6e6  */
/* param: color_info                          | Цвет подсказки   | color | #aaaaaa  */

/* group: modules.buttons | Кнопки */
/* param: width_btn                           | Ширина кнопки | size | 160px  */
/* param: padleft                             | Левый отступ кнопки | size | 20px  */
/* param: padright                            | Правый отступ кнопки | size | 20px  */
/* param: padtop                              | Верхний отступ кнопки | size | 6px  */
/* param: padbottom                           | Нижний отступ кнопки | size | 9px  */
/* param: radius_btn                          | Радиус скругления кнопки | size | 0  */
/* param: img_btn_color1                      | Цвет градиента фона (верх) | color | #3dade1  */
/* param: img_btn_color2                      | Цвет градиента фона (низ) | color | #3dade1  */
/* param: img_btn_hcolor1                     | Цвет градиента фона ховер (верх) | color | #45494a  */
/* param: img_btn_hcolor2                     | Цвет градиента фона ховер (низ) | color | #45494a  */
/* param: font_family_btn                     | Шрифт кнопки | family  | Arial, sans-serif */
/* parentParam: default..base.userbase.fontfamily.font-family */
/* param: size_btn                            | Размер шрифта кнопки | size | 1em */
/* parentParam: default..base.userbase.fontfamily.font-size */
/* param: weight_btn                          | Толщина шрифта кнопки | font-weight | normal */
/* param: color_btn                           | Цвет шрифта кнопки | color | #ffffff */
/* param: hcolor_btn                          | Цвет шрифта выделенной кнопки | color | #ffffff */

.b-form {
    border: 1px solid [modules.forms.color_border];
    background-color: [modules.forms.color_background];
    padding: 15px;
    margin-bottom: 20px;
}
.b-form input[type="text"],
.b-form input[type="password"],
.b-form textarea,
.b-form select {
    border: 1px solid [modules.forms.color_input];
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    font-family: [editor.family];
    font-size: 14px;
}
.b-form input[type="text"],
.b-form input[type="password"] {
    width: 100%;
}
.b-form input[readonly="readonly"] {
    border: 1px solid #dddddd;
    color: #7b6768;
    background: #e3e3e3;
}
.b-form textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    resize: vertical;
}
.b-form select {
    width: 100%;
}
.b-form [class^="form__col-"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: -.3em;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.b-form .form__col-1 {
    width: 100%;
}
.b-form .form__col-1-1 {
    width: 100%;
}
.b-form .form__col-2-2 {
    width: 100%;
}
.b-form .form__col-3-3 {
    width: 100%;
}
.b-form .form__col-4-4 {
    width: 100%;
}
.b-form .form__col-5-5 {
    width: 100%;
}
.b-form .form__col-1-2 {
    width: 50%;
}
.b-form .form__col-2-4 {
    width: 50%;
}
.b-form .form__col-1-3 {
    width: 33.33%;
}
.b-form .form__col-2-3 {
    width: 66.66%;
}
.b-form .form__col-1-4 {
    width: 25%;
}
.b-form .form__col-1-5 {
    width: 20%;
}
.b-form .form__col-2-5 {
    width: 40%;
}
.b-form .form__col-3-5 {
    width: 60%;
}
.b-form .form__col-4-5 {
    width: 80%;
}
.b-form .form__align_left {
    text-align: left;
}
.b-form .form__align_center {
    text-align: center;
}
.b-form .form__align_right {
    text-align: right;
}
.b-form .form__title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid [modules.forms.color_delim];
}
.b-form .form__mark {
    color: [modules.forms.color_mark];
    text-decoration: none;
    xposition: absolute;
    xtop: 3px;
    xright: 0;
}
.b-form .form__mark2 {
    color: [modules.forms.color_mark];
    text-decoration: none;
}    
.b-form .form__info {
    font-size: 11px;
    color: [modules.forms.color_info];
    margin: 0;
}
.b-form .form__label {
    padding-bottom: .4em;
    padding-right: 10px;
    position: relative;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
}
.b-form .form__inputwrap {
    position: relative;
}
.b-form .form__label-left .form__label,
.b-form .form__label-right .form__label,
.b-form .form__date-left .form__label,
.b-form .form__date-right .form__label  {
    width: [modules.forms.width_col];
}
.b-form .form__label-left .form__label {
    float: left;
    padding-top: .4em;
    text-align: left;
}
.b-form .form__date-left .form__label {
    float: left;
    padding-top: .4em;
    text-align: right;
}
.b-form .form__label-left .form__info {
    padding-left: [modules.forms.width_col];
    margin-left: 10px;
}
.b-form .form__label-right .form__label,
.b-form .form__date-right .form__label {
    float: right;
    padding-top: .4em;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
}
.b-form .form__label-left .form__inputwrap {
    margin-left: [modules.forms.width_col];
    padding-left: 10px;
}
.b-form .form__label-right .form__inputwrap {
    margin-right: [modules.forms.width_col];
}
.b-form .form__label-top .form__label {
    display: block;
    width: 100%;
    float: none;
}
.b-form .form__label-none .form__label {
    display: none;
}
.b-form .form__date-right img {
    float: left;
    margin-top: .5em;
    cursor: pointer;
}
.b-form .form__date-left img {
    float: right;
    margin-top: .5em;
    cursor: pointer;
}
.b-form .form__date-top img,
.b-form .form__date-none img {
    float: right;
    margin-top: .5em;
    cursor: pointer;
}
.b-form .form__date .form__label {
    display: block;
    box-sizing: border-box;
}
.b-form .form__date-none .form__label {
    display: none;
}
.b-form .form__date .form__label:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
.b-form .form__date input[type="text"] {
    position: relative;
}
.b-form .form__date input[type="text"]:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background: red;
}
.b-form .form__date-right .form__inputwrap {
    margin-left: 25px;
    margin-bottom: .5em;
    margin-right: [modules.forms.width_col];
    overflow: hidden;
    box-sizing: border-box;
}
.b-form .form__date-left .form__inputwrap {
    margin-left: [modules.forms.width_col];
    margin-right: 25px;
    margin-bottom: .5em;
    padding-left: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.b-form .form__date-top .form__inputwrap,
.b-form .form__date-none .form__inputwrap {
    margin-right: 25px;
    margin-bottom: .5em;
    overflow: hidden;
    box-sizing: border-box;
}
.b-form .form__radio,
.b-form .form__checkbox {
    vertical-align: top;
}
.b-form .form__radio .form__inputwrap .form__label {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.b-form .form__checkbox .form__label,
.b-form .form__radio .form__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
}
/*
.b-form .form__radio .form__inputwrap:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
*/
.b-form .form__radio .form__radiobox {
    margin: 2px 15px 0 0;
    float: left;
}
.b-form .form__radio .form__labelbox {
    overflow: hidden;
}
.b-form .form__label-left.form__radio .form__label,
.b-form .form__label-right.form__radio .form__label {}
.b-form .form__label-left.form__radio input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}
.b-form .form__checkbox .form__inputwrap {
    width: 25px;
}
.b-form .form__label-left.form__checkbox input[type="checkbox"] {
    margin-top: .5em;
}
.b-form .form__checkbox .form__inputwrap {
    float: left;
}
/*- captcha -*/
.b-form .form__captha input[type="text"] {
    margin: 0;
    width: 70px;
    font-size: 23px;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}
.b-form .form__captha img {
    vertical-align: bottom;
}
/*- errors -*/
.b-form input[type="text"].error,
.b-form input[type="password"].error,
.b-form select.error,
.b-form textarea.error {
    border-color: #f00;
}
.b-form label.error {
    margin: 0;
    font-size: 11px;
    color: #f00;
    clear: both;
    display: block;
}
.b-form .form__error.form__checkbox .form__label,
.b-form .form__error.form__radio .form__label {
    color: #f00;
}
.b-form .form__label-left.form__radio.form__error .form__errortext,
.b-form .form__label-left.form__checkbox.form__error .form__errortext {
    padding-left: [modules.forms.width_col];
    margin-left: 10px;
}
.b-form .form__label-right.form__radio.form__error .form__errortext,
.b-form .form__label-right.form__checkbox.form__error .form__errortext  {
    padding-right: [modules.forms.width_col];
    margin-right: 10px;
}
.b-form .form__error {
    color: #f00;
}
.b-form input[type="text"].success,
.b-form input[type="password"].success,
.b-form select.success,
.b-form textarea.success {
    border-color: #02CD00;
}
.b-form .form__success .form__successtext {
    margin: 0;
    font-size: 11px;
    color: #02CD00;
    clear: both;
}
.b-form .form__label-left.form__radio.form__success .form__successtext,
.b-form .form__label-left.form__checkbox.form__success .form__successtext {
    padding-left: [modules.forms.width_col];
    margin-left: 10px;
}
.b-form .form__label-right.form__radio.form__success .form__successtext,
.b-form .form__label-right.form__checkbox.form__success .form__successtext  {
    padding-right: [modules.forms.width_col];
    margin-right: 10px;
}
.b-form .form__success.form__checkbox .form__label,
.b-form .form__success.form__radio .form__label {
    color: #02CD00;
}
.b-form .agreed_readmore,
.b-form a.agreed_readmore:link,
.b-form a.agreed_readmore:active,
.b-form a.agreed_readmore:visited,
.b-form a.agreed_readmore:hover {
    border-bottom: 1px dashed [editor.a.color];
    color: [editor.a.color];
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}
.b-form .agreed_readmore:hover,
.b-form a.agreed_readmore:hover {
    border: 0;
}
.b-form .form__captha_label {
    padding-top: 0 !important;
    line-height: 1.1;
}
.b-form .form__ratwrap {
    padding-top: 0.5em;
}
.b-form .form__label-top .form__ratlabel {
    margin-right: 20px;
    float: left;
    width: auto;
}
.b-form .form__licentext:before {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
}
.b-form .agreed_text {
    padding-top: 15px;
}
.b-form .form__agree {
    overflow: hidden;
}
.b-form .form__agree input.error {
    padding-bottom: 15px;
}
.b-form .form__agree label.error {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
}
/*------------------------------------------------------*/
.b-callbackform-wrap .b-form {
    margin-bottom: 0;
}
/*------------------------------------------------------*/
/* modules.buttons - Кнопки */
.b-btnbox,
a.b-btnbox:link,
a.b-btnbox:visited {
    margin: 0;
    width: [modules.buttons.width_btn];
    padding: [modules.buttons.padtop] [modules.buttons.padright] [modules.buttons.padbottom] [modules.buttons.padleft];
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: [modules.buttons.color_btn];
    font-family: [modules.buttons.font_family_btn];
    font-size: [modules.buttons.size_btn];
    font-weight: [modules.buttons.weight_btn];
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-border-radius: [modules.buttons.radius_btn];
    -moz-border-radius: [modules.buttons.radius_btn];
    border-radius: [modules.buttons.radius_btn];
    background: [modules.buttons.img_btn_color1]; /* Old browsers */
    background: -moz-linear-gradient(top, [modules.buttons.img_btn_color1] 0%, [modules.buttons.img_btn_color2] 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,[modules.buttons.img_btn_color1]), color-stop(100%,[modules.buttons.img_btn_color2])); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, [modules.buttons.img_btn_color1] 0%,[modules.buttons.img_btn_color2] 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, [modules.buttons.img_btn_color1] 0%,[modules.buttons.img_btn_color2] 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, [modules.buttons.img_btn_color1] 0%,[modules.buttons.img_btn_color2] 100%); /* IE10+ */
    background: linear-gradient(to bottom, [modules.buttons.img_btn_color1] 0%,[modules.buttons.img_btn_color2] 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='[modules.buttons.img_btn_color1]', endColorstr='[modules.buttons.img_btn_color2]',GradientType=0 ); /* IE6-9 */
}
.b-btnbox:hover,
.b-btnbox:active,
a.b-btnbox:hover,
a.b-btnbox:active {
    box-sizing: border-box;
    color: [modules.buttons.hcolor_btn];
    text-decoration: none;
    -webkit-border-radius: [modules.buttons.radius_btn];
    -moz-border-radius: [modules.buttons.radius_btn];
    border-radius: [modules.buttons.radius_btn];
    background: [modules.buttons.img_btn_hcolor1]; /* Old browsers */
    background: -moz-linear-gradient(top, [modules.buttons.img_btn_hcolor1] 0%, [modules.buttons.img_btn_hcolor2] 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,[modules.buttons.img_btn_hcolor1]), color-stop(100%,[modules.buttons.img_btn_hcolor2])); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, [modules.buttons.img_btn_hcolor1] 0%,[modules.buttons.img_btn_hcolor2] 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, [modules.buttons.img_btn_hcolor1] 0%,[modules.buttons.img_btn_hcolor2] 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, [modules.buttons.img_btn_hcolor1] 0%,[modules.buttons.img_btn_hcolor2] 100%); /* IE10+ */
    background: linear-gradient(to bottom, [modules.buttons.img_btn_hcolor1] 0%,[modules.buttons.img_btn_hcolor2] 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='[modules.buttons.img_btn_hcolor1]', endColorstr='[modules.buttons.img_btn_hcolor2]',GradientType=0 ); /* IE6-9 */
}
a.btnbox__link:link,
a.btnbox__link:active,
a.btnbox__link:visited,
a.btnbox__link:hover {
    padding-top: [modules.buttons.padtop];
    padding-bottom: [modules.buttons.padbottom];
    display: table-cell;
} 
    /*----------------*/
    .b-btnboxfull,
    a.b-btnboxfull:link,
    a.b-btnboxfull:active,
    a.b-btnboxfull:visited,
    a.b-btnboxfull:hover {
        padding-left: [modules.buttons.padleft];
        padding-right: [modules.buttons.padright];
        padding-top: [modules.buttons.padtop];
        padding-bottom: [modules.buttons.padbottom];
        width: auto;
        xheight: auto;
        display: table-cell;
    }
    .b-btnboxfull2,
    a.b-btnboxfull2:link,
    a.b-btnboxfull2:active,
    a.b-btnboxfull2:visited,
    a.b-btnboxfull2:hover {
        margin-right: 30px;
    }
    .b-btnboxfull3,
    a.b-btnboxfull3:link,
    a.b-btnboxfull3:active,
    a.b-btnboxfull3:visited,
    a.b-btnboxfull3:hover {
        margin-left: 30px;
        display: inline-block;
    }
    .b-btnboxfull4,
    a.b-btnboxfull4:link,
    a.b-btnboxfull4:active,
    a.b-btnboxfull4:visited,
    a.b-btnboxfull4:hover {
        padding-left: 0;
        padding-right: 0;
        background: none;
        color: [editor.a.color];
        text-decoration: [editor.a.decoration];
    }
    a.b-btnboxfull4:hover {
        background: none;
        color: [editor.a.color];
        text-decoration: [editor.a.decoration_on];
    }
