@font-face {
    font-family: 'Open Sans Cond Light';
    src: url('/fonts/opensanscond/opensanscondensedlight.eot');
    src: url('/fonts/opensanscond/opensanscondensedlight.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensanscond/opensanscondensedlight.woff') format('woff'),
    url('/fonts/opensanscond/opensanscondensedlight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Cond Light Italic';
    src: url('/fonts/opensanscond/opensanscondensedlightitalic.eot');
    src: url('/fonts/opensanscond/opensanscondensedlightitalic.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensanscond/opensanscondensedlightitalic.woff') format('woff'),
    url('/fonts/opensanscond/opensanscondensedlightitalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Cond Bold';
    src: url('/fonts/opensanscond/opensanscondensedbold.eot');
    src: url('/fonts/opensanscond/opensanscondensedbold.eot?#iefix')format('embedded-opentype'),
    url('/fonts/opensanscond/opensanscondensedbold.woff') format('woff'),
    url('/fonts/opensanscond/opensanscondensedbold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}