@font-face {
        font-family: 'PT Sans';
        src: url('/fonts/ptsans/ptsansregular.eot');
        src: url('/fonts/ptsans/ptsansregular.eot?#iefix')format('embedded-opentype'),
        url('/fonts/ptsans/ptsansregular.woff') format('woff'),
        url('/fonts/ptsans/ptsansregular.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: 'PT Sans Italic';
        src: url('/fonts/ptsans/ptsansitalic.eot');
        src: url('/fonts/ptsans/ptsansitalic.eot?#iefix')format('embedded-opentype'),
        url('/fonts/ptsans/ptsansitalic.woff') format('woff'),
        url('/fonts/ptsans/ptsansitalic.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: 'PT Sans Bold';
        src: url('/fonts/ptsans/ptsansbold.eot');
        src: url('/fonts/ptsans/ptsansbold.eot?#iefix')format('embedded-opentype'),
        url('/fonts/ptsans/ptsansbold.woff') format('woff'),
        url('/fonts/ptsans/ptsansbold.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}